<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <meta name="description" content="The elegant, free Eisenhower Matrix app">
        <meta name="og:title" content="Decisive App">
        <meta name="og:site_name" content="Decisive">
        <meta name="og:type" content="website">
        <meta name="og:description" content="The elegant, free Eisenhower Matrix app">
        <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
        <title>Decisive</title>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-controller="MathController">
            <input type="text" ng-model="customAdjective" />
            <button ng-click="setAdjective('happy')">Happy</button>
            <button ng-click="setAdjective('sad')">Sad</button>
            <button ng-click="setAdjective(customAdjective)">Custom</button>
            Cuz I'm so {{ adjective }}.
            And my name is {{ name }}.
            <div ng-controller="FooController">
                Also, I'm very {{ adjective }}.
                <div ng-controller="BarController">
                    And {{ name }} is me and I'm {{ adjective }}.
                </div>
            </div>
        </div>
    </body>
</html>
