<sidebar grids="{grids}"></sidebar>
<main class='content'>
    <div class='content__top-gutter'>
        <div class='top-gutter__corner'></div>
        <div class='top-gutter__main'>
            <div class='top-gutter__header top-gutter__header--blue priority-label'>Urgent</div>
            <div class='top-gutter__header priority-label'>Not Urgent</div>
        </div>
    </div>
    <div class='content__under-top-gutter'>
        <div class='left-gutter'>
            <div class='left-gutter__header left-gutter__header--blue'>
                <span class='left-gutter__header__text left-gutter__header__text--top priority-label'>Important</span>
            </div>
            <div class='left-gutter__header'>
                <span class='left-gutter__header__text left-gutter__header__text--bottom priority-label'>Not Important</span>
            </div>
        </div>
        <grid tasks="{tasks}"></grid>
    </div>
</main>
