<div class="grid">
    <div ng-repeat="taskType in ['do', 'plan', 'delegate', 'delay']" class="grid__quadrant grid__quadrant--{{taskType}}">
        <p class="quadtrant__hint">{{hint[taskType]}}</p>
        <ul class="checklist">
            <li ng-repeat="(index, task) in tasks[taskType]" class="{{task.completed ? 'checklist__item--checked' : ''}}">
                <label>
                    <input type='checkbox' ng-model="task.completed" />
                    {{task.task}}
                </label>
                <span class='checklist__item__close-button' ng-click="deleteTask(taskType, index)">X</span>
            </li>
            <li class="add-new">
                <form ng-submit='addTask(taskType)'>
                    <input type='text' placeholder="Click to add item..." ng-model="newTask[taskType]">
                </form>
            </li>
        </ul>
    </div>
</div>
