<nav class='sidebar'>
    <h1 class='logo'>
        <div class='logo__block logo__block--top-left'></div>
        <div class='logo__block logo__block--bottom-left'></div>
        <span>Decisive</span>
        <div class='logo__block logo__block--top-right'></div>
        <div class='logo__block logo__block--bottom-right'></div>
    </h1>
    <div>
        <h3>Grids</h3>
        <ul>
            <li ng-repeat="grid in $storage.grids">{{grid.name}}</li>
            <li>Add Grid</li>
        </ul>
    </div>
</nav>
